.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #232323;
}

.App-link {
  color: #61dafb;
}
#formSearch {
  background: #e4e4e4;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  color: #5a5a5a;
}

#formSearch input {
  margin: 10px;
  line-height: 25px;
  padding: 3px;
}

.buttonLink {
  border-radius: 4px;
  background: #06c506;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 60px;
  margin: 10px;
  text-align: center;
  color: white;
  line-height: 30px;
  text-decoration: none;
  font-family: cursive;
}
.itemClass {
  text-align: left;
  font-size: 14px;
  border: 1px solid #232323;
  margin: 2px;
  float: left;
  width: calc(50% - 42px);
  min-height: 35px;
  padding-right: 35px;
}
.itemClass p {
  margin: 5px;
}
